.layout {
    background: #FFFFFF 0 0 no-repeat padding-box;
    opacity: 1;
    padding: 100px 0;
}

.more-info-products-section {
    width: 75%;
    margin: 0 auto;
}

.more-info-products-title {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    flex-basis: 28%;
    margin-top: 60px;
}

.more-info-products-section {
    width: 80%;
    margin: 60px auto 0;
}

.more-info-services-title {
    font: 40px/53px Segoe UI;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}

.best-casino-games-section {
    width: 80%;
    margin: 60px auto 0;
}

.best-casino-games-title {
    text-align: center;
    font: 40px/53px Segoe UI;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}


.games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-item {
    flex-basis: 15%;
    margin-top: 60px;
}